.footer {
    height: 45px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #333333;
}

.footer a {
    color: #fa653b;
    text-decoration: none;
    margin-bottom: 30px;
}

.footer a:hover {
    color: #fa653b;
    text-decoration: underline;
}