.instantSiteForm {
    padding-top: 20px;
}

.block {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

#instantSiteSubmitButton {
    margin-bottom: 65px;
}

.inline {
    display: inline;
    margin-bottom: 15px;
    width: 23%;
}

#container {
    width: 600px;
    margin: auto;
}