# Rename this file to .env and update the values below.
# API credentials can be obtained by contacting support or your account manager.
#
# Real environment variables win over .env files.
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.

API_BASE=https://api.duda.co/api
API_USER=123abc
API_PASS=abc123
WEBUI_USER=admin
WEBUI_TEMP_PASS=VGh1IEp1biAgdfse@21lsNDowNSBNRFQgMjAyMQo=
REGION=us-west-2
