.block {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

.inline {
  display: inline;
  margin-bottom: 15px;
  width: 23%;
}

form {
  width: 600px;
}

body {
  margin: 15px;
}

#container {
  width: 600px;
  margin: auto;
}
